/.project
/.settings
/work-api/*.project
/work-api/*.classpath
/work-comm/*.project
/work-comm/*.classpath
/work-service/.settings
/work-service/target
/work-service/.classpath
/work-service/.project
/work-web/.project
/work-web/.settings
/work-web/target
/work-web/.classpath

/.metadata
/RemoteSystemsTempFiles
/work-api/target
/work-api/.settings
/work-comm/target
/work-comm/.settings
/work-comm/.settings
/work-comm/target
