/.project
/.settings
/tianrui-work-api/*.project
/tianrui-work-api/*.classpath
/tianrui-work-comm/*.project
/tianrui-work-comm/*.classpath
/tianrui-work-service/.settings
/tianrui-work-service/target
/tianrui-work-service/.classpath
/tianrui-work-service/.project
/tianrui-work-web/.project
/tianrui-work-web/.settings
/tianrui-work-web/target
/tianrui-work-web/.classpath

/.metadata
/RemoteSystemsTempFiles
/tianrui-work-api/target
/tianrui-work-api/.settings
/tianrui-work-comm/target
/tianrui-work-comm/.settings
/tianrui-work-comm/.settings
/tianrui-work-comm/target
