<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tianrui.work.mapper.java.CashBackInfoMapper" >
  <resultMap id="BaseResultMap" type="tianrui.work.bean.CashBackInfo" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="cash_back_id" property="cashBackId" jdbcType="VARCHAR" />
    <result column="member_id" property="memberId" jdbcType="VARCHAR" />
    <result column="member_name" property="memberName" jdbcType="VARCHAR" />
    <result column="back_amount" property="backAmount" jdbcType="DOUBLE" />
    <result column="back_money" property="backMoney" jdbcType="DOUBLE" />
    <result column="back_ratio" property="backRatio" jdbcType="DOUBLE" />
    <result column="back_remark" property="backRemark" jdbcType="VARCHAR" />
    <result column="creater" property="creater" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="modify" property="modify" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="BIGINT" />
    <result column="desc1" property="desc1" jdbcType="VARCHAR" />
    <result column="desc2" property="desc2" jdbcType="VARCHAR" />
    <result column="desc3" property="desc3" jdbcType="VARCHAR" />
    <result column="desc4" property="desc4" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cash_back_id, member_id, member_name, back_amount, back_money, back_ratio, back_remark, 
    creater, create_time, modify, modify_time, desc1, desc2, desc3, desc4
  </sql>
  
  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="tianrui.work.bean.CashBackInfo" >
    select 
    <include refid="Base_Column_List" />
    from cash_back_info
    <where>
    	<if test="cashBackId != null and cashBackId != ''">
    		and cash_back_id = #{cashBackId,jdbcType=VARCHAR}
    	</if>
    	<if test="memberId != null and memberId != ''">
    		and member_id = #{memberId,jdbcType=VARCHAR}
    	</if>
    	<if test="memberName != null and memberName != ''">
    		and member_name like "%" #{memberName,jdbcType=VARCHAR} "%"
    	</if>
    </where>
    <if test="pageNo != null">
   		limit #{pageNo,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
   	</if>
  </select>
  <select id="selectByCount" resultType="long" parameterType="tianrui.work.bean.CashBackInfo" >
    select 
    count(0)
    from cash_back_info
    <where>
    	<if test="cashBackId != null and cashBackId != ''">
    		and cash_back_id = #{cashBackId,jdbcType=VARCHAR}
    	</if>
    	<if test="memberId != null and memberId != ''">
    		and member_id = #{memberId,jdbcType=VARCHAR}
    	</if>
    	<if test="memberName != null and memberName != ''">
    		and member_name like "%" #{memberName,jdbcType=VARCHAR} "%"
    	</if>
    </where>
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from cash_back_info
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from cash_back_info
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="tianrui.work.bean.CashBackInfo" >
    insert into cash_back_info (id, cash_back_id, member_id, 
      member_name, back_amount, back_money, 
      back_ratio, back_remark, creater, 
      create_time, modify, modify_time, 
      desc1, desc2, desc3, 
      desc4)
    values (#{id,jdbcType=VARCHAR}, #{cashBackId,jdbcType=VARCHAR}, #{memberId,jdbcType=VARCHAR}, 
      #{memberName,jdbcType=VARCHAR}, #{backAmount,jdbcType=DOUBLE}, #{backMoney,jdbcType=DOUBLE}, 
      #{backRatio,jdbcType=DOUBLE}, #{backRemark,jdbcType=VARCHAR}, #{creater,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=BIGINT}, #{modify,jdbcType=VARCHAR}, #{modifyTime,jdbcType=BIGINT}, 
      #{desc1,jdbcType=VARCHAR}, #{desc2,jdbcType=VARCHAR}, #{desc3,jdbcType=VARCHAR}, 
      #{desc4,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="tianrui.work.bean.CashBackInfo" >
    insert into cash_back_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cashBackId != null" >
        cash_back_id,
      </if>
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="memberName != null" >
        member_name,
      </if>
      <if test="backAmount != null" >
        back_amount,
      </if>
      <if test="backMoney != null" >
        back_money,
      </if>
      <if test="backRatio != null" >
        back_ratio,
      </if>
      <if test="backRemark != null" >
        back_remark,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modify != null" >
        modify,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="desc1 != null" >
        desc1,
      </if>
      <if test="desc2 != null" >
        desc2,
      </if>
      <if test="desc3 != null" >
        desc3,
      </if>
      <if test="desc4 != null" >
        desc4,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="cashBackId != null" >
        #{cashBackId,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null" >
        #{memberId,jdbcType=VARCHAR},
      </if>
      <if test="memberName != null" >
        #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="backAmount != null" >
        #{backAmount,jdbcType=DOUBLE},
      </if>
      <if test="backMoney != null" >
        #{backMoney,jdbcType=DOUBLE},
      </if>
      <if test="backRatio != null" >
        #{backRatio,jdbcType=DOUBLE},
      </if>
      <if test="backRemark != null" >
        #{backRemark,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="modify != null" >
        #{modify,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=BIGINT},
      </if>
      <if test="desc1 != null" >
        #{desc1,jdbcType=VARCHAR},
      </if>
      <if test="desc2 != null" >
        #{desc2,jdbcType=VARCHAR},
      </if>
      <if test="desc3 != null" >
        #{desc3,jdbcType=VARCHAR},
      </if>
      <if test="desc4 != null" >
        #{desc4,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="tianrui.work.bean.CashBackInfo" >
    update cash_back_info
    <set >
      <if test="cashBackId != null" >
        cash_back_id = #{cashBackId,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null" >
        member_id = #{memberId,jdbcType=VARCHAR},
      </if>
      <if test="memberName != null" >
        member_name = #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="backAmount != null" >
        back_amount = #{backAmount,jdbcType=DOUBLE},
      </if>
      <if test="backMoney != null" >
        back_money = #{backMoney,jdbcType=DOUBLE},
      </if>
      <if test="backRatio != null" >
        back_ratio = #{backRatio,jdbcType=DOUBLE},
      </if>
      <if test="backRemark != null" >
        back_remark = #{backRemark,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="modify != null" >
        modify = #{modify,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=BIGINT},
      </if>
      <if test="desc1 != null" >
        desc1 = #{desc1,jdbcType=VARCHAR},
      </if>
      <if test="desc2 != null" >
        desc2 = #{desc2,jdbcType=VARCHAR},
      </if>
      <if test="desc3 != null" >
        desc3 = #{desc3,jdbcType=VARCHAR},
      </if>
      <if test="desc4 != null" >
        desc4 = #{desc4,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="tianrui.work.bean.CashBackInfo" >
    update cash_back_info
    set cash_back_id = #{cashBackId,jdbcType=VARCHAR},
      member_id = #{memberId,jdbcType=VARCHAR},
      member_name = #{memberName,jdbcType=VARCHAR},
      back_amount = #{backAmount,jdbcType=DOUBLE},
      back_money = #{backMoney,jdbcType=DOUBLE},
      back_ratio = #{backRatio,jdbcType=DOUBLE},
      back_remark = #{backRemark,jdbcType=VARCHAR},
      creater = #{creater,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      modify = #{modify,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=BIGINT},
      desc1 = #{desc1,jdbcType=VARCHAR},
      desc2 = #{desc2,jdbcType=VARCHAR},
      desc3 = #{desc3,jdbcType=VARCHAR},
      desc4 = #{desc4,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>