<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tianrui.work.mapper.java.MemberRechargeMapper" >
  <resultMap id="BaseResultMap" type="tianrui.work.bean.MemberRecharge" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="member_id" property="memberId" jdbcType="VARCHAR" />
    <result column="member_name" property="memberName" jdbcType="VARCHAR" />
    <result column="recharge_amount" property="rechargeAmount" jdbcType="DOUBLE" />
    <result column="recharge_status" property="rechargeStatus" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="BIGINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="desc1" property="desc1" jdbcType="VARCHAR" />
    <result column="desc2" property="desc2" jdbcType="VARCHAR" />
    <result column="desc3" property="desc3" jdbcType="VARCHAR" />
    <result column="desc4" property="desc4" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, member_id, member_name, recharge_amount, recharge_status, createtime, remark, 
    desc1, desc2, desc3, desc4
  </sql>
  
  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="tianrui.work.bean.MemberRecharge" >
    select 
    <include refid="Base_Column_List" />
    from member_recharge
    <where>
    	<if test="memberId != null and memberId != ''">
    		and member_id = #{memberId,jdbcType=VARCHAR}
    	</if>
    </where>
    order by createtime desc
    <if test="pageNo != null">
   		limit #{pageNo,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
   	</if>
  </select>
  <select id="selectBycount" resultType="long" parameterType="tianrui.work.bean.MemberRecharge" >
    select 
    count(0)
    from member_recharge
    <where>
    	<if test="memberId != null and memberId != ''">
    		and member_id = #{memberId,jdbcType=VARCHAR}
    	</if>
    </where>
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from member_recharge
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from member_recharge
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="tianrui.work.bean.MemberRecharge" >
    insert into member_recharge (id, member_id, member_name, 
      recharge_amount, recharge_status, createtime, 
      remark, desc1, desc2, 
      desc3, desc4)
    values (#{id,jdbcType=VARCHAR}, #{memberId,jdbcType=VARCHAR}, #{memberName,jdbcType=VARCHAR}, 
      #{rechargeAmount,jdbcType=DOUBLE}, #{rechargeStatus,jdbcType=VARCHAR}, #{createtime,jdbcType=BIGINT}, 
      #{remark,jdbcType=VARCHAR}, #{desc1,jdbcType=VARCHAR}, #{desc2,jdbcType=VARCHAR}, 
      #{desc3,jdbcType=VARCHAR}, #{desc4,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="tianrui.work.bean.MemberRecharge" >
    insert into member_recharge
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="memberName != null" >
        member_name,
      </if>
      <if test="rechargeAmount != null" >
        recharge_amount,
      </if>
      <if test="rechargeStatus != null" >
        recharge_status,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="desc1 != null" >
        desc1,
      </if>
      <if test="desc2 != null" >
        desc2,
      </if>
      <if test="desc3 != null" >
        desc3,
      </if>
      <if test="desc4 != null" >
        desc4,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null" >
        #{memberId,jdbcType=VARCHAR},
      </if>
      <if test="memberName != null" >
        #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="rechargeAmount != null" >
        #{rechargeAmount,jdbcType=DOUBLE},
      </if>
      <if test="rechargeStatus != null" >
        #{rechargeStatus,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=BIGINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="desc1 != null" >
        #{desc1,jdbcType=VARCHAR},
      </if>
      <if test="desc2 != null" >
        #{desc2,jdbcType=VARCHAR},
      </if>
      <if test="desc3 != null" >
        #{desc3,jdbcType=VARCHAR},
      </if>
      <if test="desc4 != null" >
        #{desc4,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="tianrui.work.bean.MemberRecharge" >
    update member_recharge
    <set >
      <if test="memberId != null" >
        member_id = #{memberId,jdbcType=VARCHAR},
      </if>
      <if test="memberName != null" >
        member_name = #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="rechargeAmount != null" >
        recharge_amount = #{rechargeAmount,jdbcType=DOUBLE},
      </if>
      <if test="rechargeStatus != null" >
        recharge_status = #{rechargeStatus,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=BIGINT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="desc1 != null" >
        desc1 = #{desc1,jdbcType=VARCHAR},
      </if>
      <if test="desc2 != null" >
        desc2 = #{desc2,jdbcType=VARCHAR},
      </if>
      <if test="desc3 != null" >
        desc3 = #{desc3,jdbcType=VARCHAR},
      </if>
      <if test="desc4 != null" >
        desc4 = #{desc4,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="tianrui.work.bean.MemberRecharge" >
    update member_recharge
    set member_id = #{memberId,jdbcType=VARCHAR},
      member_name = #{memberName,jdbcType=VARCHAR},
      recharge_amount = #{rechargeAmount,jdbcType=DOUBLE},
      recharge_status = #{rechargeStatus,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=BIGINT},
      remark = #{remark,jdbcType=VARCHAR},
      desc1 = #{desc1,jdbcType=VARCHAR},
      desc2 = #{desc2,jdbcType=VARCHAR},
      desc3 = #{desc3,jdbcType=VARCHAR},
      desc4 = #{desc4,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>